<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--　JavaファイルのMapperをパッケージから指定し、XMLとマッピング -->
<mapper namespace="jp.co.internous.ecsite.model.mapper.TblPurchaseMapper">

<!-- id="insert"で、どのメソッドから呼ばれるのかメソッド名を指定する -->
  <insert id="insert" useGeneratedKeys="true">
  INSERT INTO tbl_purchase
   (user_id, goods_id, goods_name, item_count, total, created_at)
  VALUES
   (#{userId}, #{goodsId}, #{goodsName}, #{itemCount}, #{total}, now());
  </insert>
  
<!-- resultTypeでHistoryDtoを指定することによってHistoryDtoクラスがインスタンス化している⇒結果コンストラクタ発動 -->
  <select id="findHistory" resultType="jp.co.internous.ecsite.model.dto.HistoryDto">
    SELECT * FROM tbl_purchase p
    WHERE p.user_id = #{userId}
    ORDER BY p.created_at DESC;
  </select>
  
  
  <!-- SQLをXMLで書く場合、Mapper.javaがおかれているパッケージ名と完全一致させる -->
  <!-- 3行目までは定型文  -->

</mapper>